body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.storage-card img {
  width: 500px;
}

.acquisition-card img {
  width: 200px;
}

/* .art-card img {
  width: 500px;
} */

.art-container {
  /* justify-content: center; */
  /* display: flex;  */
  /* width: 500px; */
}

/* .ui-centered-stackable-one-column-grid {
  justify-content: space-around;
} */

.art-card {
  /* justify-content: space-around; */
}

.ui-huge-image {
  /* justify-content: center;
  align-items: space-around; */
  /* padding: '30px'; */
  /* style={{ maxHeight: 200 }} */
}

.ui-container {
  /* display: 'flex'; */
  /* justify-content: center; */
}

div.ui-card {
  /* width: '300px'; 
  justify-content: center;
  align-items: center; */
}

body{ max-height: 100vh; }