body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.storage-card img {
  width: 500px;
}

.acquisition-card img {
  width: 200px;
}
/* .modal {
  justify-content: center;
  align-items: center;
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
} */

/* .art-card img {
  width: 500px;
} */

/* div.ui-scrolling-modal-transition-visible {
  width: 300px;
} */

/* body{ max-height: 100vh; } */